*.vsix
.claude/**
.devcontainer/**
.github/**
.vscode/**
.vscode-test/**
out/**
node_modules/**
scripts/**
src/**
AGENTS.md
CLAUDE.md
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
